* {
  box-sizing: border-box;
}
hr {
  background-color: white;
}
#top-navigation {
  height: 20vh;
  padding: 0;
  margin: 0;
}

#top-navigation .search {
  height: 10vh;
}

#logo {
  border-radius: 50%;
  height: 12vh;
}

#side-navigation {
  min-height: 80vh;
}

#main {
  background-color: green;
}

#card-row-1 .card,
#card-row-2 .card {
  margin: 0.5%;
  max-width: 32%;
  height: 39vh;
}
#user-card-side-navigation ul {
  margin-top: 1rem;
  text-align: left;
}
#user-card-side-navigation a {
  font-size: 0.9rem;
}
